.help_menu {
    top: 18%;
    background: #201F1F;
    width: 390px;
    height: 490px;
    position: absolute;
    border-radius: 8px;
    display: none;
    z-index: 999;
    left: 50%;
    transform: translateX(-50%);
}

.exit_menu {
    width: 15px;
    height: 15px;
    flex-shrink: 0;
    border: 2px;
    left: 358px;
    top: 15px;
    position: absolute;
    cursor: pointer;
}

.help_container {
    width: 310px;
    height: 404px;
    position: absolute;
    left: 41px;
    top: 46px;
}

.instructions {
    width: 302px;
    height: 98px;
    flex-shrink: 0;
    position: absolute;
    right: 8px;
    bottom: 306px;
    color: #FFF;
}

.Description {
    display: flex;
    width: 302px;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.examples {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.instructions-toRevealHints {
    display: flex;
    width: 303px;
    height: 18px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.word_association {
    width: 122px;
    height: 16px;
    position: absolute;
    right: 0px;
    top: 22px;
    bottom: 6px;
}

.word {
    display: flex;
    width: 33.762px;
    height: 16px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    right: 1%;
    position: absolute;
}

.arrow_2 {
    width: 79.802px;
    height: 0px;
    position: absolute;
    right: 41.9px;
    bottom: 20px;
    border: 3px;
}

.hint_association {
    width: 84.918px;
    height: 16px;
    position: absolute;
    right: 0px;
    top: 0px;
}

.word_hint {
    display: flex;
    width: 33.762px;
    height: 16px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    right: 0%;
    position: absolute;
}

.arrow_1 {
    width: 42.97029495239258px;
    height: 0px;
    position: absolute;
    right: 41.9px;
    bottom: 20px;
    border: 3px;
}

.final_steps {
    width: 302px;
    height: 112px;
    position: absolute;
    left: 0px;
    top: 292px;
}

.example_picture_3 {
    width: 182px;
    height: 89px;
    position: absolute;
    /* left: 12px; */
    top: 23px;
}

.ex_word_4 {
    width: 146px;
    height: 27px;
    position: absolute;
    left: 18px;
    top: 62px;
}

.final_first_row {
    margin-left: -18px;
    position: absolute;
}

.final_second_row {
    margin-left: 12px;
    position: absolute;
}

.final_last_row {
    margin-left: -18px;
    position: absolute;
}

.final_box_border {
    border: 1px solid #14FF00;
}

.second_box_border {
    border: 1px solid #FFF;
}

.box_letter_box1 {
    border-radius: 1.707px;
    background: #3A3A3A;
    width: 27px;
    height: 27px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.letter_box_letter1 {
    color: #FFF;
    width: 8px;
    height: 15px;
    position: absolute;
    left: 9.5px;
    top: 6px;
    font-family: Inter;
    text-align: center;
    font-size: 12px;
    letter-spacing: 0;
    font-weight: 700;
    line-height: normal;
}

.box_letter_box2 {
    background-color: #3A3A3A;
    width: 26px;
    height: 27px;
    position: absolute;
    left: 30px;
    top: 0px;
    border-radius: 1.707px;
}

.letter_box_letter2 {
    color: #FFF;
    width: 8px;
    height: 15px;
    position: absolute;
    left: 9.5px;
    top: 6px;
    font-family: Inter;
    text-align: center;
    font-size: 12px;
    letter-spacing: 0;
    font-weight: 700;
    line-height: normal;
}

.box_letter_box3 {
    background-color: rgba(58.4375012665987, 58.4375012665987, 58.4375012665987, 1);
    width: 27px;
    height: 27px;
    position: absolute;
    left: 59px;
    top: 0px;
    border-radius: 1.707px;
}

.letter_box_letter3 {
    color: #FFF;
    width: 8px;
    height: 15px;
    position: absolute;
    left: 9.5px;
    top: 6px;
    font-family: Inter;
    text-align: center;
    font-size: 12px;
    letter-spacing: 0;
    font-weight: 700;
    line-height: normal;
}

.box_letter_box4 {
    background-color: rgba(58.4375012665987, 58.4375012665987, 58.4375012665987, 1);
    width: 27px;
    height: 27px;
    position: absolute;
    left: 89px;
    top: 0px;
    border-radius: 1.707px;
}

.letter_box_letter4 {
    color: #FFF;
    width: 8px;
    height: 15px;
    position: absolute;
    left: 9.5px;
    top: 6px;
    font-family: Inter;
    text-align: center;
    font-size: 12px;
    letter-spacing: 0;
    font-weight: 700;
    line-height: normal;
}

.box_letter_box5 {
    background-color: rgba(58.4375012665987, 58.4375012665987, 58.4375012665987, 1);
    width: 27px;
    height: 27px;
    position: absolute;
    left: 119px;
    top: 0px;
    border-radius: 1.707px;
}

.letter_box_letter5 {
    color: #FFF;
    width: 8px;
    height: 15px;
    position: absolute;
    left: 9.5px;
    top: 6px;
    font-family: Inter;
    text-align: center;
    font-size: 12px;
    letter-spacing: 0;
    font-weight: 700;
    line-height: normal;
}

.ex_word_3 {
    width: 146px;
    height: 27px;
    position: absolute;
    left: 18px;
    top: 31px;
    gap: 3px;
}

.ex_word_2 {
    width: 146px;
    height: 27px;
    position: absolute;
    left: 18px;
    top: 0px;
}

.the_hidden_word_was_cat_ {
    color: rgba(255, 255, 255, 1);
    width: 303px;
    height: 18px;
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: Inter;
    text-align: left;
    font-size: 12px;
    letter-spacing: 0;
}

.second_step {
    width: 302px;
    height: 112px;
    position: absolute;
    left: 0px;
    top: 175px;
}

.example_picture_2 {
    width: 182px;
    height: 89px;
    position: absolute;
    left: 12px;
    top: 23px;
}

.right_slider {
    width: 15px;
    height: 77px;
    position: absolute;
    left: 167px;
    top: 6px;
}

.slider_6 {
    transform: rotate(90.00000250447808deg);
    background-color: rgba(255, 255, 255, 1);
    width: 15px;
    height: 15px;
    position: absolute;
    left: 15.000000953674316px;
    top: 62px;
    border-radius: 1px;
}

.slider_5 {
    transform: rotate(90.00000250447808deg);
    background-color: rgba(255, 255, 255, 1);
    width: 15px;
    height: 15px;
    position: absolute;
    left: 15.000000953674316px;
    top: 31px;
    border-radius: 1px;
}

.slider_4 {
    transform: rotate(90.00000250447808deg);
    background-color: rgba(255, 255, 255, 1);
    width: 15px;
    height: 15px;
    position: absolute;
    left: 15.000000953674316px;
    top: 6.556708171956416e-7px;
    border-radius: 1px;
}

.left_slider {
    width: 15px;
    height: 77px;
    position: absolute;
    left: 0px;
    top: 6px;
}

.slider_3 {
    transform: rotate(-89.99999931675467deg);
    background-color: rgba(255, 255, 255, 1);
    width: 15px;
    height: 15px;
    position: absolute;
    left: 0px;
    top: 77px;
    border-radius: 1px;
}

.slider_2 {
    transform: rotate(-89.99999931675467deg);
    background-color: rgba(255, 255, 255, 1);
    width: 15px;
    height: 15px;
    position: absolute;
    left: 0px;
    top: 46px;
    border-radius: 1px;
}

.slider_1 {
    transform: rotate(-89.99999931675467deg);
    background-color: rgba(255, 255, 255, 1);
    width: 15px;
    height: 15px;
    position: absolute;
    left: 0px;
    top: 15px;
    border-radius: 1px;
}

.first_step {
    width: 313px;
    height: 67px;
    position: absolute;
    left: 0px;
    top: 103px;
}

.example_picture_1 {
    width: 310px;
    height: 44px;
    position: absolute;
    left: 3px;
    top: 23px;
    flex-shrink: 0;
}

.ex_word_1 {
    display: flex;
    width: 149.373px;
    align-items: flex-start;
    gap: 3px;
    height: 27px;
    top: 17px;
    position: absolute;
    left: 27.6px
}

.example-hint1 {
    width: 203.597px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 8px;
    font-style: normal;
    font-weight: 700;
    line-height: 10px;
    line-height: normal;
    position: absolute;
}

.instructions-titile {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
}

body.mobile .help_menu {
    position: absolute;
    top: 26%;
    left: 50%;
    transform: translateX(-50%) scale(2.5);
    /* 
      Explanation:
      1. `position: absolute;` is used to take the element out of the normal document flow.
      2. `left: 50%;` sets the left edge of the element to be at the horizontal center of its containing element.
      3. `transform: translateX(-50%) scale(2.5);` translates the element horizontally by half of its own width using `translateX(-50%)`, and then scales it up by 2.5x using `scale(2.5)`.
    */
  }