* {
  margin: 0;
  padding: 0;
}

/* Add the background color to the body element */
body {
  background-color: rgba(41, 41, 41, 1);
}

.container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}

.frame15 {
  width: 100%;
  height: 999px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}

.board {
  gap: 5px;
  top: 136px;
  left: 0px;
  right: 0px;
  width: 344px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.hint {
  color: rgb(255, 255, 255);
  width: 344px;
  height: auto;
  font-size: 12px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  display: none;
}

.letter_box {
  width: 65px;
  height: 65px;
  background: #3A3A3A;
  border-radius: 3.85px;
  z-index: 1;
}

.input {
  color: var(--dl-color-gray-black);
  color: white;
  font-size: 24px;
  font-family: Inter;
  font-weight: 700;
  width: 64px;
  height: 64px;
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-halfunit);
  border-width: 0px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: transparent;
  outline: none;
  caret-shape: block;
}

.letter_box:hover {
  background: gray;
  opacity: 50%;
}

.rectangle {
  width: 65px;
  height: 65px;
  color: white;
  font-size: 24px;
  font-family: Inter;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-5px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(5px);
  }

  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.5s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

.word-field.correct input {
  user-select: none;
  pointer-events: none;
  background-color: transparent;
  border: none;
}

.word-field {
  pointer-events: auto;
}

.correct-answer .word-field {
  cursor: move;
}

.correct-answer .rectangle {
  cursor: move;
}

.word1 {
  gap: 5px;
  display: flex;
  width: 345px;
}

.word2 {
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.word3 {
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.word4 {
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.word5 {
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit:hover {
  background: rgba(0, 187, 74, 1);
  opacity: 70%;
  cursor: pointer;
  /* You should change cursor to pointer for better UX */
}

.submit {
  top: 570px;
  left: 0px;
  right: 0px;
  width: 100px;
  height: 27px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  flex-shrink: 1;
  background-color: rgba(0, 187, 74, 1);
  border-radius: 5px 5px 5px 5px;
}

.text_submit {
  color: rgba(255, 255, 255, 1);
  font-size: 12px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}


.rectangle26 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 48px;
  position: absolute;
  border-color: rgba(62, 62, 62, 1);
  border-style: solid;
  border-width: 1px;
}

.text2 {
  top: 9px;
  left: 0px;
  color: rgba(255, 255, 255, 1);
  right: 0px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.help {
  top: 11px;
  width: 25px;
  height: 25px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  right: 2%;
}

.ellipse1 {
  top: 0px;
  width: 25px;
  height: 25px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 auto;
}

.text4 {
  top: 2px;
  left: 9px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  display: inline-block;
}

.centerRowBoxes {
  gap: 4px;
  top: 136px;
  left: 0px;
  right: 0px;
  width: 64px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  border: none;
}

.wordoftheday {
  width: 64px;
  height: 64px;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 4px;
  background-color: transparent;
  pointer-events: none;
  z-index: 1;
  visibility: hidden;
}

.wordoftheday:hover {
  background: gray;
  opacity: 50%;
}

.answer_letter {
  color: transparent;
  width: 344px;
  height: auto;
  font-size: 12px;
  font-style: bold;
  text-align: center;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  display: none;
}