* {
    margin: 0;
    padding: 0;
  }

.welcome_page {
    background: #292929;
    width: 100%;
    height: 100%;
    position: absolute;
}

.intrance_frame {
    width: 242px;
    height: 390.796px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.play {
    width: 154.465px;
    height: 41.705px;
    flex-shrink: 0;
    position: absolute;
    left: 39px;
    right: 45.5px;
    top: 349px;
    border: 7.723px;
    cursor: pointer;
}

.play_text {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 18.536px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);

}

.submit {
    border-radius: 7.723px;
    background: #00BB4B;
    width: 154.465px;
    height: 41.705px;
    position: absolute;
}

.decription {
    width: 231.697px;
    height: 30.893px;
    position: absolute;
    left: 0px;
    top: 283px;
}

.description_text {
    display: flex;
    width: 231.697px;
    height: 30.893px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 18.536px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.title {
    display: flex;
    width: 228.608px;
    height: 44.795px;
    justify-content: center;
    align-items: center;
    top: 216px;
    flex-shrink: 0;
    position: absolute;
}

.title_text {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 37.072px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.logo {
    width: 236px;
    height: 176px;
    position: absolute;
    left: 6px;
    top: 0px;
}

.logo_boxs {
    border-radius: 3.478px;
    background: #3A3A3A;
    width: 56px;
    height: 56px;
    top: 0px;
    position: absolute;
}

.logo_letters {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 24.444px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.ces {
    width: 176px;
    height: 56px;
    position: absolute;
    left: 0px;
    top: 120px;
}

.ces_box1 {
    left: 0px;
}

.ces_box2 {
    left: 60px;
}

.ces_box3 {
    left: 120px;
}

.uen {
    width: 176px;
    height: 56px;
    position: absolute;
    left: 60px;
    top: 60px;
}

.uen_box1 {
    left: 0px;
}

.uen_box2 {
    left: 60px;
}

.uen_box3 {
    left: 120px;
}

.seq {
    width: 176px;
    height: 56px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.sec_box1 {
    left: 0px;
}

.sec_box2 {
    left: 60px;
}

.sec_box3 {
    left: 120px;
}